<h1>Admin Page</h1>

<ul>
  {{#each model as |bustle|}}
    {{bustle-list bustle=bustle delete="delete" update2="update3"}}
    <button {{action 'delete' bustle}}>Delete</button>
  {{/each}}
</ul>

{{bustle-admin savePost2="savePost3"}}
